
.cityOutput {
    font-size: 100px;
}

.description {
    font-size: 100px;
}

.temperature {
    font-size: 100px;
}

.wind {
    font-size: 100px;
}

.col {
    border: 1px solid black
}

.box-city{
    border: 1px solid black
}